.sidebar{
	height: 100%;
	&__inner{
	position: sticky;
	width: 100%;
	top: rem(30);

	
	
	}
	&__list{
		margin-bottom: rem(100);
	}
	&__list,
	&__sub-list{
		display: flex;
		flex-direction: column;
		gap: rem(13);
	}
	&__sub-list {
			padding: rem(13) 0;
			
		}
	&__sub-item{
		list-style:disc;
		margin-left: rem(30);
	}

	&__link,
	&__sub-link{
		font-size: rem(18);
		line-height: 1;
		color: #767676;
		&.active{
			text-decoration: underline;
		}
	}
	&__link{
		font-size: rem(18);
	}
	&__sub-link {
			font-size: rem(14);
					@include interactive-effects(#767676, "color");
					&.active{
						color:#010101;
					}
		}
		&__price{
			display: block;
			text-align: center;
			font-size: rem(30);
			color: #444444;
		}
		&__price-img{
			margin: 0 auto;
			
		}
}